SECRET_KEY=your-secret-key
DEBUG=True
TELEGRAM_BOT_TOKEN=your-telegram-bot-token
TELEGRAM_USER_ID=your-telegram-user-id
STRIPE_API_KEY=your-stripe-api-key
POSTGRES_PASSWORD=your-db-password
POSTGRES_USER=your-db-user
POSTGRES_DB=your-db-db
POSTGRES_HOST=your-db-host
POSTGRES_PORT=your-db-port
